@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  @apply font-sans;
}

.font-mono {
  @apply font-mono;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f2fb;
}

::-webkit-scrollbar-thumb {
  background: #c6c5d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000666;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
